@import url("https://fonts.googleapis.com/css?family=Caveat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainOrange: #e98569;
  --mainWhite: rgb(255, 255, 255);
}
body {
  font-family: "Caveat", cursive;
  color: var(--mainWhite);
  background: var(--mainOrange);
}
