@import url("https://fonts.googleapis.com/css?family=Caveat&display=swap");

@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic+SC&display=swap");

:root {
  --mainOrange: #e98569;
  --mainWhite: rgb(255, 255, 255);
}
body {
  font-family: "Caveat", cursive;
  color: var(--mainWhite);
  background: var(--mainOrange);
}
