@import url("https://fonts.googleapis.com/css?family=Caveat&display=swap");

@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainOrange: #42414d;
  --mainWhite: rgb(255, 250, 250);
}
body {
  font-family: "Caveat", cursive;
  color: var(--mainWhite);
  background: var(--mainOrange);
}
.hero {
  min-height: 60vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
